@media (min-width: 48rem) {
    /* Tablets */
    .hero h1 {
        font-size: 3.5rem;
    }
    .hero-buttons {
        flex-direction: row;
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .spotlights-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}