/* Pantallas Medianas (Tabletas - 768px en adelante) */
@media (min-width: 48rem) {
    .hero h1 {
        font-size: 3.5rem;
    }
    .hero-buttons {
        flex-direction: row;
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .spotlights-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .places-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .directory-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 Columnas en modo Grid */
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

